body{
    margin: auto;
    width: 500px;
    background-color: lightpink;
font-size: small;
}

html{
    background-color: coral;
}

footer{
    text-align: center;
    background-color: beige;
    margin: 20px;
    padding: -1px;
}
header{
    text-align: center;
}
h1{
    color: red;
    background-color:beige;
    margin: 20px;
    width: 450px;
    text-align: center;
    padding: 1px;
}
h4{
    background-color: beige;
    margin: 20px;
    padding: 5px;
    border-style:
    
}
h2{
    text-align: center;
}
img{
    border-radius: 20px;
    width: 400px;
}